.heading {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  font-size: 5rem;
  font-weight: 800;
  color: #05000a;
  padding: 8px;
  margin: 10px;
 
}

.example-heading {

  background: #3e92cc;
  color: transparent;
  -webkit-background-clip:text;
  background-clip: text;

}