.drawer{
    border-radius: 12px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
}
.drawer-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    color: black !important;
}
.drawer-body {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}