.actionbutton{
  font-size: medium;
  max-width: 150px !important;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  transition: border 0.2s ease, box-shadow 0.2s ease !important;
  margin: 10px !important;
  border-color: white !important;
  border-radius: 10px !important; 
}

.actionbutton:hover {
  transform: scale(1.05) !important; 
}

.actionbutton:active {
  transform: scale(0.95) !important; 

}

.actionbutton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
 
.my-custom-btn {
  background:  #7685c9;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
