:root {
  --font-primary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --font-secondary: Verdana, Geneva, Tahoma, sans-serif;
  --font-tertiary: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   --color-primary: #3e92cc;
  --color-secondary: #d8315b;
  
  
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary) !important;
}

a, ul, ol, li, blockquote, pre, code, button, input, textarea, select, span{
  font-family: var(--font-secondary) !important;
}

p {
  font-family: var(--font-tertiary) !important;
}
