.textarea {
  transition: border 0.2s ease, box-shadow 0.2s ease !important;
  margin: 10px !important;
  resize: vertical;
  overflow-y: auto;
  
}

.mb-3 {
  width: 600px;
}

.text-muted {
  font-size: 12px;
  margin-top: 4px;
  display: block;
  color: #6c757d;
}

.invalid-feedback {
  font-size: 12px;
  margin-top: 4px;
  color: #dc3545; 
  display: block;
}
