.textarea {
  transition: border 0.2s ease, box-shadow 0.2s ease !important;
  margin: 10px !important;
  resize: vertical;
  overflow-y: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important ;
  
}

.mb-3 {
  width: 600px;
}


